# Compiled class file
*.class

# Log file
*.log

# Intellij
*.iml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# gradle
.gradle
/local.properties

.DS_Store
/build
/captures
.externalNativeBuild
